@font-face 
{
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrapper
{
    display: grid;
    grid-template-columns: 200px 800px 200px;
    grid-template-rows: 20px 300px 70px 150px 500px;
    grid-template-areas: 'location c additional-info'
        'b news p'
        'yandex-logo yandex-search g'
        'd car t'
        'u info w';
}

.location
{
    grid-area: location;
}

.location .link
{
    font: normal normal 15px FontAwesome;
    color: #999;
}

.location .link::before 
{
    content: '\f124     ' ;
}

.additional-info
{
    grid-area: additional-info;
    display: flex;
    justify-content: space-between;
}

.link.black
{
    color: black;
}

.mail
{
    box-shadow: 0 0 4px #123;
    height: 70px;
}

.mail-login::first-letter
{
    color: red;
    font-size: 15px;
}

.yandex-logo
{
    grid-area: yandex-logo;
    display: flex;
    justify-content: flex-end;
}

.yandex-logo p
{
    font-size: 32px;
    margin: 12px;
}

.yandex-logo p::first-letter
{
    color: red;
}

.yandex-search
{
    grid-area: yandex-search;
}

.yandex-search .input-field
{
    border: 2px solid yellow;
    height: 25px;
    width: 700px;
}

.yandex-search .links
{
    width: 700px;
    display: flex;
    justify-content: space-around;
}

.input-search
{
    display: flex;
}

.yandex-search .search-button
{
    width: 80px;
    height: 31px;
    background-color: yellow;
    border: 0;
    cursor: pointer;
}

input,
button
{
    outline: none;
}

.news
{
    grid-area: news;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gray.small
{
    color: #999;
    font-size: 15px;
}

.news-content ul 
{
    padding: 0;
}

.yandex-news
{
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
}

.link
{
    color: #0054b9;
    text-decoration: none;
}

.header
{
    font-size: 20px;
}

.blue
{
    color: #6da2e1;
}

.link.black:hover,
.link:hover 
{
    color: #ff6698;
}

.exchange-rates
{
    display: flex;
    justify-content: space-between;
}

.black.bold
{
    font-weight: bold;
    color: black;
}

.car
{
    grid-area: car;
}

.car img
{
    width: 700px;
}

.show
{
    display: none;
}

.additional-settings:checked ~ .show-settings
{
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: pink;
    top: 50px;
}

.show-settings
{
    font: normal normal 15px FontAwesome;
}

.show-settings
{
    display: none;
}

input[id='show-visited']:checked ~ .wrapper label[for='show-visited']::after,
input[id='show-humor']:checked ~ .wrapper label[for='show-humor']::after,
input[id='show-tv']:checked ~ .wrapper label[for='show-tv']::after,
input[id='show-auto']:checked ~ .wrapper label[for='show-auto']::after,
input[id='show-weather']:checked ~ .wrapper label[for='show-weather']::after,
input[id='show-traffic']:checked ~ .wrapper label[for='show-traffic']::after,
input[id='show-map']:checked ~ .wrapper label[for='show-map']::after,
input[id='show-affiche']:checked ~ .wrapper label[for='show-affiche']::after
{
    content: '\f00c';
}

input[id='show-visited']:not(:checked) ~ .wrapper .visited,
input[id='show-humor']:not(:checked) ~ .wrapper .humor,
input[id='show-tv']:not(:checked) ~ .wrapper .tv,
input[id='show-auto']:not(:checked) ~ .wrapper .auto,
input[id='show-weather']:not(:checked) ~ .wrapper .weather,
input[id='show-traffic']:not(:checked) ~ .wrapper .traffic,
input[id='show-map']:not(:checked) ~ .wrapper .map,
input[id='show-affiche']:not(:checked) ~ .wrapper .affiche
{
    display: none;
}

.info
{
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'first middle last';
    grid-gap: 10px;
}

.column1
{
    grid-area: first;
}

.column2
{
    grid-area: middle;
}

.column3
{
    grid-area: last;
}

.column1 > div,
.column2 > div,
.column3 > div
{
    margin: 20px 0;
}

.input-field
{
    display: block;
}

input,
.humor label,
.humor-show
{
    display: none;
}

.humor input:checked + .humor-show
{
    display: block;
}

.humor input[id='humor1']:checked ~ label[for='humor2'],
.humor input[id='humor2']:checked ~ label[for='humor3'],
.humor input[id='humor3']:checked ~ label[for='humor1']
{
    display: block;
}

.input-visited:not(:checked) ~ .input-humor:not(:checked) ~ .wrapper .column2
{
    grid-area: first;
}

.input-visited:not(:checked) ~ .input-humor:not(:checked) ~ .wrapper .column3
{
    grid-area: middle;
}

.input-tv:not(:checked) ~ .input-auto:not(:checked) ~ .wrapper .column3
{
    grid-area: middle;
}

.small-img
{
    width: 25px;
}

.auto-news
{
    height: 200px;
    overflow: auto;
}
